[2022-04-07 07:11] delightfuldude opened #1 "ARM64 / Raspberry Pi"
Can you provide a docker container for ARM platforms like a Raspberry Pi?

[2022-04-11 23:26] pszuster opened #559 "Date-only field crashes the app"
**Describe the bug**
When you define a field as Date-only in a module and then select a date as a user, the browser's tab crashes (chrome and Firefox)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Low Code -> Module -> add "Date and Time" field.
2. Go to the field config and select "Date Only".
3. Save the module.
4. Create a record using the module and pick a date from the calendar.

[2022-04-12 12:21] tjerman commented on #559
I can't seem to reproduce this issue; would you be able to make a screen recording demonstrating this?

* Are you able to get the same behaviour on a completely fresh namespace?
* are you able to get the same behaviour on a completely fresh Corteza instance?
* do you have any workflows/automation scripts defined?
* what is the browser crash message; does it just close or does it show some message?

[2022-04-12 12:47] pszuster commented on #559
![corteza_date_bug](https://user-images.githubusercontent.com/10658194/162964220-5d351d5a-0027-49b7-8efd-562fd712c8a8.gif)

- Are you able to get the same behaviour on a completely fresh namespace?
Yes
- are you able to get the same behaviour on a completely fresh Corteza instance?
yes (2022.3)
- do you have any workflows/automation scripts defined?
no
-what is the browser crash message; does it j

[2022-04-12 13:09] tjerman commented on #559
That's strange...
Thanks for reporting; we'll take a look

[2022-04-13 15:09] francescobianco opened #349 "Deploy a Server Discovery Demo"
We are looking for deploying a single docker-compose.yml file with both the 'corteza-server' and 'corteza-server-discovery'.
Not easy at all, can we provide an ready-to-use solution like this one:

- https://docs.cortezaproject.org/corteza-docs/2022.3/devops-guide/examples/deploy-offline/index.html

but with 'corteza-server-discovery', obviously also elasticsearch or any other search service.

cc

[2022-04-24 07:58] darh commented on #349
@vicpatel can you share our setup here please

[2022-05-10 20:48] gandalfb opened #358 "config.js is served as content-type: text/plain"
**Describe the bug**
Running the docker-compose example from documentation with traefik adding the "nosniff" option `contentTypeNosniff: true` leads to a non-usable webapp, due to the browser (Chrome 101.0.4951.54 (Official Build) (64-bit)) saying the mime-type restriction is blocking script execution.

**To Reproduce**
Steps to reproduce the behavior:
Adjust reverse proxy to apply "X-Content-Type

[2022-05-19 11:28] skamensky opened #2 "Readme is out of date"
Looks lke the [corteza-webapp](https://github.com//cortezaproject/corteza-webapp) repo has been removed, archived, or privatized. Should the instructions be updated to indicate if this is still a metarepository?

I got the word meta repo from this image
https://docs.cortezaproject.org/corteza-docs/2022.3/developer-guide/_images/build-pipelines.png

https://github.com/cortezaproject/corteza/blame/0

[2022-05-21 08:24] darh commented on #358
Hi @gandalfb thank you for reporting this.
We need to investigate this a bit.

[2022-05-24 06:34] siddontang opened #362 "CREATE INDEX access ON auth_oa2tokens failed with "Specified key was too long; max key length is 3072 bytes""
Thanks for helping us to improve Corteza! We welcome all bug reports. Once we've verified and fixed your issue, we'll ping you in the comments to see if you can verify the fix.
We'll give you details on what version can be used to test the fix. Additionally, if you are interested in testing fixes that you ***didn't*** report, look for the issues with
the `status/to-test` label. You can pick any of

[2022-05-24 08:57] darh commented on #362
@siddontang could be. We recommend that you run Corteza on Percona (https://docs.cortezaproject.org/corteza-docs/2022.3/devops-guide/system-requirements.html#_database) for now. Version 2022.9.x is getting some upgrades of the store layer so we might broaden the supported databases soon.

Can you share the versions of the TiDB and MySQL that you are using?

[2022-05-24 08:58] darh commented on #362
Also, not denying that indexes, columns etc in the oa2tokens table could not be altered as you describe...

[2022-05-24 11:15] petergrlica commented on #349
@francescobianco hi, sorry for the delay, hope you figured out how to set it up on production.

We've added an example on how we use discovery, hope it still serves some purpose to you.
It is still not added to the official documentation, but you can still check the PR: https://github.com/cortezaproject/corteza-docs/pull/282/files

[2022-05-24 11:15] #349 closed, assigned to vicpatel

[2022-05-24 16:37] siddontang commented on #362
Sorry I made a mistake, I just ran the DDL query through MySQL command line for MySQL 8.0. But `make test.store` can run well for MySQL 8.0, but not TiDB 6.0.

I checked the schema after testing and found an interesting thing in MySQL 8.0 and Percona Server 8.0:

[code]

As you can see, `KEY `access` (`access`(1024)),` is just a prefix index, I don't know where you create a prefix here. I just log

[2022-05-24 18:20] siddontang commented on #362
another thing is that I found we use `utf8mb3` for the table charset, do we need to use `utf8mb4` here?

[2022-05-24 18:39] siddontang commented on #362
I use Wireshark to capture all the queries, and found that here you set `set session sql_mode='ANSI'`, which can let the creating table successful but with some warnings. See a simple example in the command line:

[code]

But I think here you just want utf8mb4, in fact?

[2022-05-29 18:09] siddontang opened #364 "Insert table `compose_record` warning `'values' doesn't have a default value`"
Hi, I tried to run corteza server based on TiDB, and meet a warning with `'values' doesn't have a default value`

The SQL is below:

[code]

 Corteza doesn't assign a value to the `values` field, but as we can see from the table, the `values` must be NOT NULL.

[code]

I know that Corteza uses `ASNI` SQL mode, which can treat this as a warning, but it is may better to insert a default value or jus

[2022-05-30 06:59] tjerman commented on #364
What version are you using?
Before `2022.9` (not released yet) there is no `values` column in the `compose_record` table.

If you're running `2022.9` I'd suggest you (until `2022.9` is more stable) switch to some `2022.3` version.

[2022-05-31 01:24] siddontang commented on #364
I used 2022.9, I will use the stable version later.

[2022-05-31 01:24] #364 closed, assigned to nobody

[2022-06-10 11:32] tjerman commented on #559
For a workaround, disable date-only from the date field.
We are looking into addressing this, but we are unable to reproduce the issue.

[2022-06-14 17:49] brunoccr commented on #559
The same problem for me, both 2022.3.2 and 2022.3.3.rc1

[2022-06-20 10:55] Yaren-IT opened #372 "service.auth-notification auth notification "could not send email"}"
While deploying a fresh corteza project with proper SMTP settings, the value SMTP_FROM is not set in the auth-notification.

`corteza              | 10:36:02.000     ERROR   service.auth-notification       auth notification send failed   {"requestID": "<redacted>", "name": "auth_email_confirm", "email": "<redacted>", "error": "could not send email: gomail: could not send email 1: 450 4.1.8 <info@e

[2022-06-20 12:15] Yaren-IT commented on #372
1. On a fresh deployment
  - `corteza-server settings list --prefix "auth.mail.from-address"` gives `auth.mail.from-address  "info@example.tld"`
  - `corteza-server settings list --prefix "smtp.servers"`gives `smtp.servers                                            [{"from": "redacted@domain.tld", "host": "redacted.domain.tld", "pass": "redactedpassword", "port": "465", "user": "redacted", "tlsIns

[2022-07-04 10:32] darh commented on #372
Thank you. Someone will take a look in a couple of days and update this issue.

[2022-07-04 16:47] PaulMcF1987 opened #379 "Issues transferring to anew server"
I have moved to a new server but am struggling to get corteza back up and running.

I have copied my YAML and ENV file from my previous server, I have not changed any details at all but when I try to access corteza, I get:

![image](https://user-images.githubusercontent.com/75368133/177051003-83edf613-bcab-4c28-92a0-2545748ec776.png)

I am still using corteza version 2020.12 due to issues with upg

[2022-07-18 11:49] vicpatel commented on #372
This is fixed with [07a8fdb](https://github.com/cortezaproject/corteza-server/commit/07a8fdbbd54588f1b5c21f96d3a4c518e3bb6509).

[2022-07-19 10:04] sagatzt opened #550 "admin/gateway: not access to query params in processing"
Hello, I'm trying to recover a query parameter in ADMIN/GATEWAY but I don't get it. It's a mistake? How can I do it? Thank you!

I've this code piece in processing section:

//name is a query param in URL: ?name=pepe
//surname is a body param: {"surname":"garcia"}
var b = JSON.parse(readRequestBody(input.Get('request').Body));
var c = name
return {
    "name": c,
    "surname": b.surname
}

respon

[2022-07-21 06:42] darh commented on #358
This was fixed in branches `2022.3.x` (will be part of 2022.3.4 release sometime next week) and `2022.9.x` (f41b7872f, 1bdf2b59a)

[2022-07-21 06:42] #358 closed, assigned to nobody

[2022-07-27 15:08] vicpatel commented on #372
It is released with `2022.3.4`

[2022-07-27 15:08] #372 closed, assigned to nobody

[2022-08-01 06:38] #362 closed, assigned to nobody

[2022-08-24 12:29] petergrlica opened #402 "Test notification issue"
Do ignore this please

[2022-08-24 12:38] petergrlica commented on #402
Another comment on an issue

[2022-08-24 12:38] petergrlica commented on #402
Closing the issue as the notification works

[2022-08-24 12:38] #402 closed, assigned to nobody

[2022-09-07 04:30] 0plm9okn8ijb opened #773 "Authentication Error"
I am trying to install the corteza production instance in my laptop locally. But i am having some problem with opening the email sent by corteza for the email confirmation. but upon clicking on the link it is showing:

![image](https://user-images.githubusercontent.com/94233162/188787649-58b5ab38-f6f9-40ee-b066-044620079559.png)

I have used the following the configuration to install corteza:

**_

[2022-09-10 06:35] #379 closed, assigned to nobody

[2022-09-12 15:17] tjerman commented on #773
Ref https://forum.cortezaproject.org/t/authentication-error/1006/3

[2022-09-19 07:26] junfengye opened #410 "pkg/objstore/minio GetObject causes lots of unclosed goroutines"
call minioClient.GetObject returns minio.Object, It implements Reader, ReaderAt, Seeker, Closer for a HTTP stream.
It will start a goroutine wait for Close() functoin is called.
But corteza use it as a ReadSeeker, so it is not closed.

see the goroutines with pprof /debug/pprof/goroutine?debug=2

**To Reproduce**
Steps to reproduce the behavior:
call attachment related api

**Expected behavior**
n

[2022-09-19 09:50] darh commented on #410
Thank you for this and the proposed solution. Someone from our team will address this shortly!

[2022-09-20 10:35] darh commented on #410
Fixed on 2022.9.x. Will back-port for 2022.3.6 (2022.3.5 is about to be released)

[2022-09-20 10:35] #410 closed, assigned to nobody

[2022-10-01 13:18] skamensky opened #413 "Workflow "runtime error. invalid memory address or nil pointer dereference” for corredor script."
**Describe the bug**
Server panics when attempting to access nil Var expression.

**To Reproduce**
Set up a workflow that executes a corredor script. Don't fill out the args section. Run the script

**Expected behavior**
A clear error saying you must put something in the args section, or coerce empty args to an empty expression.

**Additional context**
See this forum post for information including

[2022-10-04 15:51] skamensky opened #552 "Page builder does not remember navigation state"
**Describe the bug**
When pressing save and close in page builder it always brings you to the admin panel

**To Reproduce**
Edit page, press save and close.

**Expected behavior**
Should navigate you to where you came from (e.g. page detail page)

**Screenshots**

https://user-images.githubusercontent.com/19151369/193866281-a054c04d-2ac0-402b-aaaf-712eef2d8040.mp4

[2022-10-04 15:57] skamensky opened #553 "Refresh values only instead of fields on page value refresh"
**Is your feature request related to a problem? Please describe.**
When using the workflow prompt step of refresh field values it hampers user experience to see the whole page flash.

**Describe the solution you'd like**
Instead of redoing the entire field value layout, you can refresh the values only and create a smoother user experience.

**Additional context**
See GIF for what I mean
![Record p

[2022-10-04 16:05] skamensky opened #554 "Child record mutations should navigate back to parent upon completion"
**Is your feature request related to a problem? Please describe.**
When adding or editing records from a page another record is embedded in, you have to press back twice (once to get to the edit form and another to get back to the initial page) in order to arrive at the initial page you were coming from. This is a UX nightmare for edit heavy applications.

**Describe the solution you'd like**
Edit

[2022-10-05 07:19] vicpatel commented on #413
Hey, Thank you for reporting this.
This is fixed and merged to `2022.9` and `2022.3`.

[2022.9 commit](https://github.com/cortezaproject/corteza-server/commit/422f870f40412576c3899917c15bed58332dab6e), [2022.3 commit](https://github.com/cortezaproject/corteza-server/commit/9ad5b36caf36002a06d08cce1ce603578683afda)

[2022-10-05 07:24] Fajfa commented on #554
Hey, thank you for raising this issue. We have general navigation improvements in the pipeline (for 2023.3), which includes this problem you're experiencing.

[2022-10-05 07:24] Fajfa commented on #552
Hey, thank you for raising this issue. We have general navigation improvements in the pipeline (for 2023.3), which includes this problem you're experiencing.

[2022-10-05 07:27] Fajfa commented on #553
We had this implemented the way you suggested, not sure what happened. Should be fixed/improved so it works like you described.

[2022-10-05 09:12] skamensky commented on #554
Is there anyway I can contribute to this to help it make an earlier release?

[2022-10-05 09:14] skamensky commented on #553
Are you unable to reproduce this on the latest release?

[2022-10-06 16:07] skamensky opened #415 "Feature Request: Zapier Integration"
**Is your feature request related to a problem? Please describe.**
This feature would open up corteza to be integrated with all of the tools that zapier supports (no complex workflows needed)

**Describe the solution you'd like**
Engineering to build a [zapier integration](https://zapier.com/platform/how-to-build)

**Describe alternatives you've considered**
Manually trigger zaps from within workf

[2022-10-07 13:32] #413 closed, assigned to nobody

[2022-10-07 13:34] Fajfa commented on #553
I can and will try to squeeze it into the 2022.9.1 release, that will be released sometime next week.

[2022-10-07 20:11] skamensky commented on #553
Glad you could reproduce it. No rush. Let me know if there's something I can do to help.

[2022-10-07 21:50] skamensky opened #417 "REST API Documentation Versions Incorrect"
**Describe the bug**
The documentation versions do not reflect the version of the branch they are commited in

https://github.com/cortezaproject/corteza-server/blob/57721291b270d4ed9b9e625d7a17fca2cc6c27eb/docs/system.yaml#L5

https://github.com/cortezaproject/corteza-server/blob/57721291b270d4ed9b9e625d7a17fca2cc6c27eb/docs/federation.yaml#L5

**Expected behavior**
Version matches the branch name

[2022-10-10 10:04] skamensky opened #419 "Module Fields Not Getting Created"
**Describe the bug**
Adding a new module field after module is created doesn't do anything and doesn't report any issues.

**To Reproduce**
1. Set module data store to a non-default value. Save.
2. Add a new field and set type to column
3. See that the field is added to the module page as well as record page layout.
4. Editing and saving content in the field is a no-op with no error reported

**Ex

[2022-10-11 07:20] Yangruipis opened #422 "Can not export compose records with CLI"
**Describe the bug**

When exporting the records to yaml using command line tool, it exited with "not found" error, and no records is exported

**To Reproduce**

1. create one module named `test` and insert some records
2. run command line tool:

[code]

**Expected behavior**

cli exit zero and records is expored.

**Screenshots**

![image](https://user-images.githubusercontent.com/16623724/195019

[2022-10-11 10:05] Yangruipis commented on #422
My pr is here: #423 , please take a look @tjerman thanks

[2022-10-11 11:54] darh commented on #419
No support for schema modifications right now. Not sure why no error/issues is raised.

[2022-10-11 12:16] darh commented on #417
Fixed in `17dd946c5`

[2022-10-11 12:16] #417 closed, assigned to darh

[2022-10-11 20:36] Grisgruis opened #424 "Automatic migration from 2022.3.5 to 2022.9.0 failing?"
I was testing the upgrade to 2022.9.0 and found something weird.

When setting up a clean setup in 2022.3.5, and adding some leads:
![image](https://user-images.githubusercontent.com/1905778/195192723-20bd78fd-7cb0-4ada-a8a8-20febf1c5971.png)

Doing nothing else then changing the version to 2022.9.0 and stopping / starting docker-compose this results in only 1 type of lead and the company info rem

[2022-10-12 05:58] darh commented on #424
Hi & thank you for reporting this. There should be no data loss.

I'll assume that this is a test db without any real data? Can you maybe share data-dump from the db?
There might be something specific on your config that we missed.

[2022-10-12 06:17] surturas commented on #424
had this happen to me to on my private prod system (for some odd reason i done a backup before upgrade so no harm) the data on the DB is broken
![image](https://user-images.githubusercontent.com/115612556/195264645-f938029c-b18d-438b-b28a-e7594ee287e3.png)
it happened to all custom namespaces and all modules within. i posted on the forum too https://forum.cortezaproject.org/t/migration-from-2022-3

[2022-10-12 10:48] skamensky opened #555 "Feature Request: Add on page load corredor script triggers"
**Is your feature request related to a problem? Please describe.**
I want
1. to use keyboard shortcuts to save the page
2. saving to happen automatically every second
3. pages to be in always edit mode. So the heavy editing workflows doesn't require pressing edit all the time

**Describe the solution you'd like**
A way to affect the DOM without users interacting. IE on-page-load events that can tr

[2022-10-12 13:06] Grisgruis commented on #424
Yeah i see the same as @surturas alle entries have the same json data

[2022-10-13 01:40] Yangruipis commented on #424
hi @Grisgruis and @surturas, i met the same issue before, just upgrade to the latest commit, this was fixed by https://github.com/cortezaproject/corteza-server/commit/7e4e4d3b5abb22d4535d548828cf0d2116284cd3 (2022-10-04)

[2022-10-13 08:03] skamensky opened #425 "Postgres DB Error Upon Module Creation"
**Describe the bug**
I'm getting the error:

[code]

The full log error from the DB is

[code]

**To Reproduce**
Leave handle as an empty value

**Expected behavior**
Client side exception. Currently I have to go into the DB and do module cleanup in order to fix.

[2022-10-13 08:14] skamensky opened #426 "Feature request: Support Postgres enums"
**Is your feature request related to a problem? Please describe.**
I want to use native postgres columns. When choosing `Select / dropdown` as the field type, I get the following error:

`could not convert attribute "Status" to column: unsupported column type: corteza::dal:attribute-type:enum`

**Describe the solution you'd like**
Support postgres enums

**Describe alternatives you've considered**

[2022-10-13 17:35] skamensky opened #427 "Required Field Attribute On Module Not Respected For Physical Tables"
**Describe the bug**
When setting a field to "not required", it still received a `not null` constraint in postgres

**To Reproduce**
Steps to reproduce the behavior:
1. Create a field that's not required
2. Try to create a record without populating the 'not required' field
3. Get DB error

**Expected behavior**
`not required` translated to no `not null` constraint being applied to the column

**Sc

[2022-10-13 17:48] skamensky opened #428 "Can't save Module With Number Input (Physical Table)"
**Describe the bug**
When adding a number intput field the following error is received
`pq: NUMERIC precision 0 must be between 1 and 1000`

**To Reproduce**
Add a number input field and try to save (make sure type is physical table)

**Expected behavior**
Has a clear default, or gives a client/server error. Not DB error.

**Screenshots**
![image](https://user-images.githubusercontent.com/19151369

[2022-10-14 14:03] skamensky opened #429 "Record Selection Not Working For Physical Tables"
**Describe the bug**
When trying to save a record after having selected a related record, the server returns an error that the record is not found.

**To Reproduce**
1. Set up two modules (both physical), A and B
2. Make a record selector field on B point to A
3. Create an A record
4. Try creating a B record point to A

**Expected behavior**
Record saves normally.

**Additional context**
This [for

[2022-10-18 12:03] Yaren-IT opened #430 "info@example.tld"
**Describe the bug**
After deploying a fresh corteza server, resetting passwords does not work correctly.

**To Reproduce**

1. Deploy a fresh corteza Docker instance, configure accordingly.
2. Execute an interactive bash terminal inner corteza-server
3. Set valid email-from with `corteza-server settings set auth.mail.from-address VALID@EMAIL.TLD`
4. Test Email Settings with `corteza-server auth t

[2022-10-18 12:11] darh commented on #430
Thank you @Yaren-IT for a very thorough bug report. Will look into it.
Does restarting the server help by any chance?

Also -- can you share the version you're using please.

[2022-10-18 12:21] Yaren-IT commented on #430
Indeed, it helped.
After simply restarting my instance with `docker compose down && docker compose up -d` , resetting the password worked.
EDIT:
Version is 2022.9.1

[2022-10-19 09:19] andre-badenhorst-crust-tech commented on #419
The error message doesn't display when there is a value set in 'collection or database table name'. Please see screenshots for blank value and error response.
![image](https://user-images.githubusercontent.com/116157602/196650972-9384a359-5647-4d77-ba1a-bbe8610e0d99.png)
![image](https://user-images.githubusercontent.com/116157602/196651082-30424fb0-577f-417a-98ee-a70cbc1665f0.png)

[2022-10-19 12:05] surturas opened #557 "First day of the week not matching machine locale in date selector"
**Describe the bug**
For some parts of the world the first day of the week is Monday instead of Sunday. The Date Selector only shows Sunday as first day of the week.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Module Admin Page add a Column type Date Only
2. Add corresponding page
3. Create new record for new Module and select date value
4. Sunday shown as first day of the week in

[2022-10-19 21:57] skamensky commented on #427
I created a fix for this here

https://github.com/cortezaproject/corteza-server/pull/431

@darh , can you please take a look?

[2022-10-19 22:11] skamensky commented on #429
This seems to have been resolved in `2022.9.1`

[2022-10-20 08:11] darh commented on #429
I doubt it :)

I've [fixed](https://github.com/cortezaproject/corteza-server/commit/a8d2fef3c) it yesterday, after .1 patch.

Closing this.

[2022-10-20 08:11] #429 closed, assigned to nobody

[2022-10-20 09:13] skamensky commented on #429
Yup, whoops, I was running bleeding edge github code instead of the released code.

Thanks for the fix!

[2022-10-26 16:00] TarekMahran opened #3 "ARM64 support"
Is it poosible to deploye docker image on ARM64 server?

[2022-10-26 17:42] skamensky commented on #419
@darh ,
Is there any interest in me providing limited support to schema modification (e.g. only add and delete columns, no renaming)?

I have something like that working locally. But I wanted to ask if this is a type of contribution Corteza would be interested in before I put in the work of a proper PR.

[2022-10-26 19:03] darh commented on #419
@skamensky i would very much appreciate that! Feel free to open a PR.

[2022-10-27 07:37] darh opened #438 "Testing issue & labels"

[2022-10-29 09:44] darh commented on #2
Will be addressed and solved after moving to monorepo https://github.com/orgs/cortezaproject/discussions/437

[2022-10-29 09:44] #2 closed

[2022-10-30 16:56] skamensky commented on #427
Solved with https://github.com/cortezaproject/corteza-server/pull/431

[2022-10-30 17:27] skamensky opened #556 "Project no longer builds"
**Describe the bug**
`yarn serve` or `make build` boith result in errors:

**To Reproduce**
* Freshly clone the repo
* Run `yarn install`
* Run `yarn serve` or `make build`

**Expected behavior**

**Desktop (please complete the following information):**
 - OS: ubuntu 20.04
 - Browser N/A
 - Version N/A

**Additional context**
Exact error:

[code]

Maybe this has to do with the recent open-ssl 3 vu

[2022-10-30 17:29] skamensky commented on #556
Workaround as found here is https://github.com/webpack/webpack/issues/14532#issuecomment-947012063

`export NODE_OPTIONS=--openssl-legacy-provider`

[2022-10-31 09:19] darh commented on #427
I'll keep this one open for now. We'll close it when we merge the #443

[2022-10-31 16:53] darh commented on #427
Nevermind 🙈

[2022-10-31 16:53] #427 closed, assigned to darh

[2022-10-31 16:59] darh commented on #425
@skamensky can you maybe address this while solving the whole schema management thing?

[2022-10-31 17:00] #438 closed, assigned to nobody

[2022-11-02 09:22] skamensky commented on #425
@darh ,

Sure. I'll add a fix for this. It looks like this is using the handle as the DB table name (I didn't verify by digging into the code).

We have two options:

1. Require a handle for a physical table
2. Use the ID as the table name

If it comes down between a choice of those two things, which do you prefer?

[2022-11-02 15:24] skamensky commented on #425
@darh ,

I can no longer reproduce this. It seems to have gotten fixed somewhere along the way.
I think this can be closed.

[2022-11-02 15:53] #425 closed, assigned to nobody

[2022-11-03 11:11] darh opened #447 "Allow integrators to duplicate, copy and paste page blocks [PlanID:2023.3/34/3]"
When using page-builder, an integrator can see two new icons between edit and delete - **clone** and **copy**.

![Image](https://user-images.githubusercontent.com/1500447/198826156-06b3e332-c9f0-4be7-b24a-4ec2a09e6b55.png)

 - [x] Add the two new icons (use proper icons for duplicate and copy)
 - [x] Support **block cloning**
 - [x] Support block copy-to-clipboard; write JSON representation of the

[2022-11-03 11:14] darh opened #448 "Allow end-users to open records in a modal window [PlanID:2023.3/2/4.3]"
Record list can be configured to open a modal window where an entire record page can be opened in view or edit mode.

![Image](https://user-images.githubusercontent.com/1500447/198842330-a98e8707-5d48-4a4c-adc6-a45bbe4dbefe.png)
Record list configuration

 - [x] Change record list configurator to support one of three modes (same window, new tab, modal)
 - [x] Ensure old config (new tab) is gracefu

[2022-11-03 14:17] darh opened #449 "Add support for navigational page block [PlanID:2023.3/11/2.7]"
Introduce new page block type for showing one or two level of dynamic and static navigation

Inspired by bootstrap's [nav component](https://bootstrap-vue.org/docs/components/nav).

**List configuration**
 - [x] Add tab right of **general** - "Navigation"
 - [x] options for align, vertical, fill, pills, small, tabs
 - [x] Default properties for all items
   - [x] disabled
   - [x] text variant or

[2022-11-03 14:18] darh opened #450 "Allow end users to magnify certain Compose page blocks [PlanID:2023.3/18/2.7]"
Integrators can configure certain block types to allow magnification, showing the content of the block inside a modal window or in fullscreen mode (not an actual new page, just extending block boundaries to the edge of the window.

![Image](https://user-images.githubusercontent.com/1500447/198872112-5b5b797f-f43d-4fea-a9ed-27c68f472caa.png)

 - [x] Add a dropdown element with options to a general

[2022-11-03 14:18] darh opened #451 "Support Compose page duplication [PlanID: 2023.3/35/3]"
On the Compose page builder
 - [x] Add page clone button in the bottom toolbar
 - [x] On record pages, keep the button, disable it and add a hint on mouse-over that record pages can not be duplicated
 - [x] Page cloning happens in-browser (make a copy of the page, remove page ID from the payload and send a create-page request).
   - [x] Prefix the title with `"Copy of "`
   - [x] Remove handle

![

[2022-11-04 09:20] darh opened #452 "Add support for Compose page block tabs [PlanID:2023.3/8/2.6]"
Integrators can configure **Tabs** block on Compose page.  This is accomplished by linking existing record page blocks of any other type. Each linked block represents one tab in the tab block.

The implementation is based on [Bootstrap's tabs](https://bootstrap-vue.org/docs/components/tabs).

 - [x] Prepare mockups that demonstrate this feature @darh

----

 - [x] Page can have multiple tab blocks

[2022-11-04 14:26] darh opened #453 "Support for Microsoft SQL Server [PlanID: 2023.3/39/2.6]"
Add support for Microsoft SQL Server for primary store and DAL by extending set of store RDBMS drivers.

Docker images:
https://hub.docker.com/_/microsoft-mssql-server

Go client lib, provided by MS
https://github.com/microsoft/go-mssqldb

Compatibility check (min 2019):
 - [x] Test with 2017-latest version and record results
 - [x] Test with 2019-latest version and record results
 - [x] Test with

[2022-11-07 12:37] katrinDY commented on #451
Code: [8076874](https://github.com/cortezaproject/corteza/commit/80768746674a5ac8b5841fb58ae3b696f897dca7)

Demos:
![Image](https://user-images.githubusercontent.com/85161724/200312028-e80434ef-5844-4a9e-9c55-0ec8ad294a4a.gif)
![Image](https://user-images.githubusercontent.com/85161724/200312029-199ace1b-c9ff-46b0-997f-7a10b9a3a851.gif)

[2022-11-08 14:21] darh opened #456 "Fix structured query parsing in pkg/ql"
Filter payload example

[code]

Screenshot from debugger (at `ExprHandler` fn inside Postgres driver's dialect.go file):

![Image](https://user-images.githubusercontent.com/1500447/200588559-a6a7dc77-993a-44c7-a5b8-6ee75371c86f.png)

[2022-11-08 14:49] darh opened #457 "Allow users to use IN/NOT IN operator in Reporter's filter UI"
Integrator must be able to select IN or NOT IN operators.

When IN/NOT IN operator is selected left/right sides are flipped - `value IN field`!

![Image](https://user-images.githubusercontent.com/1500447/200590130-6ecf3dce-048a-4397-b70c-3cd35a153564.png)

Bonus points:

 - [x] Enable IN/NOT IN operators only for multi-value fields
 - [x] Disable all other operators for multi-value fields

[2022-11-08 14:50] darh commented on #457
Assigning to SNE to keep it close to #456. Feel free to change that.

[2022-11-08 18:36] EmmyMay commented on #447
![image](https://user-images.githubusercontent.com/31524469/200647412-b3b63ffc-4da4-46b9-ad77-3566a1ad4a2f.png)

[2022-11-09 15:13] darh opened #459 "Add support for listing and viewing of deleted record and ability to undelete them"
## Backend changes

 - [x] define new `restore` RBAC operation
 - [x] add RBAC checks in the service code
 - [x] implement `POST /record/{id}/restore`

Notes on new API endpoint. I'm fully aware of the "unrestfulness" of the proposed solution. Right now even DELETE is abused for soft delete (should be hard).

## Frontend changes

### Record list block
 - [x] a configuration option to enable delete

[2022-11-10 09:44] EmmyMay commented on #447
![image](https://user-images.githubusercontent.com/31524469/201056079-acacbc70-45c4-4483-9376-952d1cecb88a.png)
https://github.com/web-platform-tests/interop/issues/143

Reading from the clipboard is still inconsistent across browsers. Reading the clipboard to let the user know if there is a page-block awaiting looks undoable for now. I want to move forward by just displaying the two toasts to the

[2022-11-10 10:32] darh opened #461 "Add support for Chart drill-down [PlanID:2023.3/22/1.6]"
An integrator can select a specific chart on a report to support interaction (or a drill-down). This allows users to click on certain parts of the chart and explore the data that is aggregated on the chart in a tabular view.

----

Example:

The report chart shows the percentage of people grouped by age range. The end user clicks on one of the ranges on the chart and connected table showing users

[2022-11-10 10:35] darh opened #462 "Support for Nylas page block"
Email and calendar integration enables users to access their inboxes and calendars, compose and send emails and list contacts. This is not a generic integration - only Nylas is supported to save time on front-end implementation.

All Nylas components (Agenda, Composer, Contact List, Conversation, Email and Mailbox) are supported.

# Authorisation and configuration

Corteza allows both types of sup

[2022-11-10 10:37] darh opened #463 "Support for referencer page block"
# Problem

End users do not have a seamless way to set reverse references between records. If records of car module reference records of module brand there is no way to do make a reference to record of car module on record page for brand module.

# Page block for integrators

When integrator places reverse-reference block on the grid of a record page and selects the module that can reference the p

[2022-11-10 12:37] darh opened #464 "Chart labels overlapping"
As seen on the attached example, the left-side label on all chart is covering the axis values

![Image](https://user-images.githubusercontent.com/1500447/201093737-ecb4cd88-8baa-493b-89a5-08451c3d95e7.png)

[2022-11-10 12:43] darh opened #465 "SQL/scan issue while building report"
HTTP request
[code]

Error:
[code]

----

This can be repeated if you construct a chart with 2 metrics using the same field and function.

<img width="526" alt="image" src="https://user-images.githubusercontent.com/1500447/201380115-2448d063-e38d-43cd-aa96-f44be71f3db5.png">

[2022-11-10 14:14] darh opened #466 "Add support for auto-refresh of certain block-types"
# Problem
Compose page blocks do not support auto-content refreshing and this forces users to refresh the browser or navigate away and back to the current page.

# Extending page block configurators
All page block configurators need to be extended to support auto-refresh settings, explicitly enable or disable manual refresh of a block.

Refresh interval can be expressed in seconds and must have lo

[2022-11-10 14:53] darh opened #467 "Update de-duplication UI on module and fields configuration pages"
Follow the mockups. @vicpatel will provide details and payload examples.

![Image](https://user-images.githubusercontent.com/1500447/201123414-466b3797-9cdd-4c9d-ae14-07379f5aecab.png)

![Image](https://user-images.githubusercontent.com/1500447/201123372-d337b3b4-b35f-4458-be12-fd6d0f0745cc.png)

[2022-11-10 14:58] darh opened #468 "Sorting resource by "last-change" does not work as expected"
As reported by @Bojan-Svirkov

![Image](https://user-images.githubusercontent.com/1500447/201127300-46368efb-df75-433c-9df4-ecdf3d44de60.png)

---

@Fajfa

----

- [x] NS list
- [x] Module list
- [x] Charts
- [x] WF list
- [x] Other places?

[2022-11-10 16:16] darh opened #469 "Optionally send invitation email when a new user is created by an administrator"
- [x] Add template that will be used for sending (similar to one we have for password-reset)
- [x] Extend `users add` CLI command with `--send-email` flag
- [x] Extend the user-create endpoint and add prop to request to trigger email sending when new user is created
- [x] Checkbox for admin console that should be checked for email to be sent

 Ref: #430

[2022-11-10 16:25] darh opened #470 "Show warning in the CLI that server needs to be restarted in order to apply changes"
When user invokes `settings` CLI commands, show a warning that the server needs to b restarted.

Ref: #430

[2022-11-10 16:28] darh commented on #430
I think your expectations about email sending on users-add command were wrong.

The `--make-password-link` flag only gives you a link, it does not send an email.
I've created two new issues. One to actually implement this behaviour (with different flags) and the 2nd one to warn the user that server needs to be restarted when SMTP settings are changed from the CLI.

Closing this.

[2022-11-10 16:28] #430 closed, assigned to KinyaElGrande

[2022-11-10 16:32] darh opened #471 "When editing a deleted integration gateway route, the route gets restored automatically"
When you open a deleted  integration gateway route, and lets say you edit/change the name of the route and press submit, the integration gateway route gets restored automatically even though you haven't un-deleted it.

This is not the case with the un-deletion with the other admin system settings for example users and applications.

[2022-11-10 16:40] darh opened #472 "Move /tests/dal e2e tests that use REST API to /tests/system and /tests/compose"
Currently, we have a mix of API and DB (closely coupled with MySQL) tests under `/tests/dal`.

Pick out tests that interact with REST and move them to system or compose. If specific test interacts with both components refactor it so that it it interacts with another component (one with less interaction) directly and not via REST.

[2022-11-10 16:41] darh opened #473 "Refactor /tests/dal store tests"
Remove hard-dependency on MySQL and rely on DB_DSN.

[2022-11-10 16:43] darh opened #474 "Seeder crashes due to unregistered models"
By @tjerman

![Image](https://user-images.githubusercontent.com/1500447/201155188-43f6e7f3-5a56-4354-9f87-eebb051dd0cb.png)

[2022-11-11 07:30] tjerman commented on #453
I'm currently experimenting and struggling with a few parts specific to MS SQL and how the rest of our code is implemented.

MS SQL:

* Issues with using the newer https://github.com/microsoft/go-mssqldb lib; temporarily replaced with the original one (not the fork)
* value placeholders where the expression looks like `some_col IN @3` where the variable would hold `NULL` -- it's erroring out the q

[2022-11-11 10:32] EmmyMay commented on #447
https://github.com/cortezaproject/corteza-webapp-compose/pull/453 for issue #447

[2022-11-11 11:21] darh opened #475 "Investigate Github Codespaces and how we can use them with Corteza"
Investigate Github Codespaces and how we can use them with Corteza for frontend and backend development, writing Cypress tests and docs.

[2022-11-11 12:18] darh opened #476 "Implement JSON-LD"
Figure out how to implement JSON-LD responses on REST API for compose records

[2022-11-11 12:24] yonkov commented on #448
## Pull Request Link

https://github.com/cortezaproject/corteza/pull/524

## Screenshots of the implementation

![Screenshot from 2022-11-11 13-52-31](https://user-images.githubusercontent.com/26258032/201339573-ca34dab2-e48a-4365-83a2-50f00f0baa0f.png)

![Screenshot from 2022-11-11 13-48-19](https://user-images.githubusercontent.com/26258032/201339595-92f31f45-f127-42a5-9331-8f8adb94246f.png)

##

[2022-11-11 12:38] darh opened #477 "Support JSON-LD [PlanID: 2023.3/40/2.6]"
- [ ] #567
        This should be implemented on frontend.
 - [x] #566

[2022-11-11 12:38] darh opened #478 "Support for conditional fields [PlanID:2023.3/48/2.6]"
This is a basic implementation of conditional fields for the **record page block**. It provides a way for users to control fields that should be hidden or shown by checking the current context and values of the current record.

Examples:
 - when the selected age is 18 or more, show the field for gender
 - when the occupation is developer, show text input for a favourite IDE

The condition expressi

[2022-11-11 12:40] darh opened #479 "Support for multi-page views [PlanID:2023.3/49/1.6]"
## About

Supporting multi-page views enables us to improve the UX of end-users interacting with our low-code applications.
Multi page views enable us to define different dashboards for different user roles, wizard-like flows for creating complex modules such as a subscription plan.

The current generation of our webapp will provide a simpler solution where we will expand on the idea in future ite

[2022-11-11 12:40] darh opened #480 "Allow users to navigate to previous and next page [PlanID:2023.3/15/1]"
## About

Expand navigation when inside a record page to allow you to go to the next/prev record.

This could be achieved by extending what the record read endpoint returns by including the next/prev page cursors.
If we do decide to use paging cursors we need to be careful how to handle update like operations since they could break the order and not work as expected.

## Important

if you're editi

[2022-11-11 12:41] darh opened #481 "Inline editing in record lists [PlanID:2023.3/1/1]"
## About

Provide inline editing for record lists outside of record pages (on regular pages).
The feature should feel similar to how the current inline editing feels like.

## User stories

As an administrator, I can select an option in the block configuartion to enable inline editing of top level record lists in the same manner as I now can for record lists embedded on a record page.

As a user,

[2022-11-11 12:41] darh opened #482 "Support for additional chart Types [PlanID:2023.3/23/1]"
Explore options for implementation of the following EChart types in Compose and Reporter:

- Radar,
- Polar,
- Horizontal Bar,
- Trend Lines in Charts,
- Scatter, Bubble,
- Heatmap,
- Calendar Heatmap,
- Time Series

This on needs to be researched first.

[2022-11-11 12:41] darh opened #483 "Allow users to manage their profile photo [PlanID: 2023.3/27/1.5]"
Administrators can enable (default) or disable if users can set their own profile photo in the auth/profile pages. The profile photo is either an uploaded photo or custom initials (1-3 ASCII characters) with a custom background and text colour. Administrators can also upload and set the initials with colours for any user via the admin panel.

The profile photo is then used on the top navigation on

[2022-11-11 12:41] darh opened #484 "Support richer links to pages on sidebar, allow use of icons [PlanID: 2023.3/16/1.7]"
- [x] Allow integrators to upload an icon for the sidebar
 - [x] Allow integrators to select one of the previously uploaded icons for the sidebar
 - [ ] Allow integrators to select icons from the library of the sidebar
 - [x] Allow integrators to explicitly select pages that expand

[2022-11-11 12:42] darh opened #485 "Add support for record list filters [PlanID: 2023.3/5/1]"
## About

We want to enable administrators to define a set of record list filters which users can quickly apply to their record list(s).

### How

When configuring a record list, an administrator can define a set of record list filters grouped by role.
When a user is viewing a page with some record list, they can see that list of stored filters at the top of the record list depending on their role

[2022-11-11 12:42] darh opened #486 "API GW Enhancements [PlanID: 2023.3/16/1.7]"

[2022-11-11 12:43] darh opened #487 "Add support for resource locking [PlanID: 2023.3/9/0.6]"
## Goal

We need to improve UX when there are multiple people working on the same part of the system at the same time. Currently we don't have much in place and having multiple people work on the system at the same time can be stressful.

Resource locking enables low-code app configurators to lock specific resources when they want to edit them such as a workflow and a series of related modules.

F

[2022-11-11 12:43] darh opened #488 "Support for Bulk record updates [PlanID: 2023.3/6/0.5]"
As an administrator, I can select an option to allow bulk updates of specific columns in a record list.

As a user, I can select the records I wish to update in a record list, then select the column, then add the value to which I wish to change all selected records.

As a user I'm informed about skipped locked-for-editing records after bulk update because I want to be informed about skipped record

[2022-11-11 12:43] darh opened #489 "Resolve references on record import [PlanID: 2023.3/37/0.6]"
Investigate when the issue in regards to resolving references such as other records and users occurred and address it as this feature should have been implemented a long time ago with the initial importer versions.

[2022-11-11 12:43] darh opened #490 "RDBMS schema management"
Allow integrators to manipulate RDBMS schema (make, change and remove database tables) when fields are added, changed or removed on a Compose module.

DAL package (`pkg/dal`) can already produce a diff between the two models.

Implementation (`store/adapters/rdbms/dal/connection.go`) already has placeholders:
 - Models
 - CreateModel
 - DeleteModel
 - UpdateModel
 - UpdateModelAttribute

[2022-11-11 12:43] darh opened #491 "Resource caching for Store and DAL"
To improve performance and ensure maximum platform stability, we need to support caching lookup, search, and aggregation operations on DAL and store levels.

The scope of this task is only DAL and Store caching implementation. Store and DAL are unaware of the security context and do not provide access control.

# Caching backends (CB)

Corteza supports multiple caching backends and allows the sele

[2022-11-11 12:43] darh opened #492 "Statistics for Store and DAL operations"
Provide a document which notes performance for various operations under the reworked record storage (DAL).

The original sheet with numbers and operations can be found here https://docs.google.com/spreadsheets/d/127Bot4ExWkc3fwb0BL15Uv8QMse1pAbHROfa62Yz0s4/edit#gid=1553278367

The majority of the heavy lifting is already done in the sheet itself where the goal here is to nicely present findings an

[2022-11-11 12:48] darh commented on #476
Dup #477

[2022-11-11 12:48] #476 closed, assigned to vicpatel

[2022-11-11 14:51] Bojan-Svirkov opened #493 "Opening records in a new browser tab sometimes brings you to the main screen of Compose"
Reported by: Lenny Horstink

Opening records in a new browser tab sometimes brings you to the main screen of Compose. Not always, but sometimes. It seems random.

This happened to people in our sales team and I can confirm it happened to me as well.

Steps to reproduce:
1. Go to a record list
2. Open the record in a new tab (with a middle-mouse click on the record edit button, or simply on the rec

[2022-11-11 14:52] Bojan-Svirkov commented on #493
In 20 clicks or so this only occurred once for me, so yup it is pretty random and after that I wasn't able to reproduce it. If I tried to open couple records with the middle-mouse click they were not opening and I was receiving either internal error, too many requests or invalid_request, but probably that is another issue. I will attach a picture of the error messages. If that is another issue and

[2022-11-11 14:57] Bojan-Svirkov opened #494 "Change the color of approving a request checkmark in privacy (for consistency)"
Currently let's say when rejecting a privacy request, the button is red and when you click on it the checkmark for confirming is also red, but when we press on approve, the approve button is blue but it's checkmark for confirming the action is again red, so let's try to change the approve checkmark on the approve request button to be also blue.

![Image](https://user-images.githubusercontent.com/5

[2022-11-11 14:58] Bojan-Svirkov commented on #494
Denis: This must be rethought a bit (not only the colours part, the whole ux). I'll prepare and schedule for the next sprint.

Just set variant-ok="primary" (or whatever it needs to match the approve's button colour) on the approve-request button.

[2022-11-11 17:17] EmmyMay commented on #447
Corteza-locale updated

[2022-11-14 06:27] darh opened #495 "Basic CLI interaction should not initialize api-gateway"
When doing `users list` we get

[code]

Subsystems (like apigw) should be initialized only when needed.

[2022-11-14 06:52] darh commented on #465
All fixed now.

[2022-11-14 08:20] darh opened #496 "Migration from/to physical tables and columns"
Support for data migration from/to dedicated tables and physical columns.

----

Scenario:

I want to quickly create a set of modules to hold my data. I do not touch the storage settings, and all magic happens inside the `compose_record` table.  Models evolve, and data grows through time.
There might be some performance issues.

So, I decide to move the entire module out of the `compose_record` ta

[2022-11-14 10:13] darh opened #497 "SMTP send an email button"
It will be really beneficial if we have a test button in SMTP server setting in admin that will automatically trigger an email to be sent by clicking on it. This will come in handy when testing SMTP server settings, MailHog and other features.

[2022-11-14 12:03] Bojan-Svirkov opened #500 "Issues on mobile devices; portions of the screen "cut off""
ref: [https://forum.cortezaproject.org/t/save-button-in-mobile-browser-not-visible/924/4](https://forum.cortezaproject.org/t/save-button-in-mobile-browser-not-visible/924/4 "smartCard-inline")

Samsung S20 (the normal sized one)

On 1) I can’t see the record page’s toolbar because the browser’s toolbar is hiding it. My suspicion is that the body of the web application is not scrollable (but some d

[2022-11-14 14:58] Bojan-Svirkov commented on #465
Looking good. Just tested it and moving it to Done.

[2022-11-15 05:32] KinyaElGrande commented on #497
This is a new feature that has 2 sections :

1. Test configuration (connect and ping `HELO`  to the server)
2. Send an actual hello from Corteza to custom email address (pre-filled with mail of the current user)

V1 should validate the following bits

-  host & port -- are the params correct and can we ping the server
-  username & password -- are the params correct and can we authenticate
-  conn

[2022-11-15 09:33] darh opened #501 "Archive all legacy repositories"
Due to open PRs and comments, we're holding back on achieving some repositories.

 - [x] [webapp compose](/cortezaproject/corteza-webapp-compose/pulls)
    - [x] cortezaproject/corteza-webapp-compose#454
    - [x] cortezaproject/corteza-webapp-compose#453
    - [x] cortezaproject/corteza-webapp-compose#451
    - [x] cortezaproject/corteza-webapp-compose#450
    - [x] cortezaproject/corteza-webapp-

[2022-11-15 09:45] darh commented on #465
Changelog text can be picked out the 88bafc2.

[2022-11-15 09:45] #465 closed, assigned to darh, Bojan-Svirkov

[2022-11-15 11:21] darh commented on #501
test agai

[2022-11-15 13:19] EmmyMay commented on #452
Tab blocks have their dimensions pre-determined just as other blocks xywh
You link existing blocks to the tabs via a dropdown (try drag and drop later)
data structure should stay as is for page
Number of blocks determine number of tabs
Block title determines tab name

[2022-11-15 13:41] darh opened #502 "Resource relationship graph"
## Base problem to solve

Letting RBAC (and other facilities) perform operations based on hierarchical relationship between resources, such as users and record ownership.

One of the requested use-cases is to support contextual roles where they would be applied in cases where user A is the parent of user B (such as a plain manager-like relationship).

**Important**: this use in contextual roles is

[2022-11-15 13:55] darh opened #503 "Fix broken RBAC integration for RBAC management via Workflow"
Cause: mixed resource & operation params for allow, grant, inherit functions.

Introduced: f662d4e794da

Fix needs to go on
 - [x] 2022.9.x
 - [x] 2023.3.x

[2022-11-15 14:03] #503 closed, assigned to darh

[2022-11-15 15:32] tjerman opened #504 "Using roles inside RBAC: Allow operation on resource to a role fails to determine the role ID"
When you use the RBAC: Allow operation on resource to a role workflow function and you pass in an already fetched role like so:

![Image](https://user-images.githubusercontent.com/12545711/201958671-5875e27c-0eb9-449d-b804-3402f42fc215.png)

The role ID is incorrectly determined and the RBAC rule is saved like so:

![Image](https://user-images.githubusercontent.com/12545711/201959006-a4c5a79f-b7e4

[2022-11-16 08:06] darh opened #508 "Allow integrators more control over chart configuration"
Following is set of ideas for chart configuration improvements from the top of my head.

I want users to be able to at least edit the JSON of the settings and manually use all eChart capabilities.

 - [ ] Option to see edit JSON version of whole eChart's setting object or parts of it

 - [x] Allow users to decide what to use for data labels to avoid overlapping
    - [x] nothing
    - [x] value

[2022-11-16 10:02] petergrlica commented on #471
**What changed**
Deleted status on apigw route update gets preserved

**Why did it change**
Apigw route needed to handle deleted status on update in consistency with other subsystems (ie applications, users, ...)

**How did it change**
Fixed the part of apigw service that handles route updates

Commit: https://github.com/cortezaproject/corteza/commit/16257e9d4b49dea0038a9ddb4372b5f3ec949915

[2022-11-16 10:19] EmmyMay commented on #466
# Feature Documentation

## Problem
Compose page blocks do not support auto-content refreshing and this forces users to refresh the browser or navigate away and back to the current page.

## What was added
Added auto-refreshing and manual refreshing feature to page blocks excluding, Content, Record and File Blocks. An icon now appears on blocks when you enable the refresh feature. That icon is cli

[2022-11-16 10:20] EmmyMay commented on #466
https://github.com/cortezaproject/corteza-js/pull/73

https://github.com/cortezaproject/corteza-webapp-compose/pull/446

[2022-11-16 10:28] darh commented on #475
I took a look and I do not see this as an option for outside devs. We'll have to create dev-env on our pwn. Closing.

[2022-11-16 10:28] #475 closed, assigned to petergrlica

[2022-11-16 10:39] Bojan-Svirkov commented on #451
Tested and confirming that this is now fixed. Moving the card to Done.

[2022-11-16 11:00] Bojan-Svirkov commented on #471
@petergrlica , now when you make changes and press submit, the route doesn't get restored and the updated at changes, but the change is not really saved. Is that the expected behavior here? to not be able to change let's say name on a deleted route, I guess not? So if I have a name /test, and I change it to /example and press submit, the route doesn't get restored (which is okay), the updated at c

[2022-11-16 11:02] Bojan-Svirkov commented on #471
Added entry to the CL

[2022-11-16 11:25] Bojan-Svirkov opened #509 "Compose page duplication name improvement"
When you create couple copies of a page they are named as:

Page
copy of page
copy of a copy of a page

![Image](https://user-images.githubusercontent.com/53232926/202168448-2b690441-ce3f-444d-95ed-5c3d26aac417.png)

and so on respectively, so if we create 3-4 or more the naming kinda gets confusing and long, so let's try to improve the naming for example if we have test page, instead of saying co

[2022-11-16 11:33] Bojan-Svirkov opened #510 "Record selection count improvement"
Currently if we have let's say 20 records and they are divided into two pages, and if I select for example 1 record from the second page the title is saying `1 of 5 records selected` (because we have 5 records on that page), so I guess we will need to change the logic here so when we select a record to be taken out/counted from the total of all records so the record to say `1 of 20 records selecte

[2022-11-16 13:05] Bojan-Svirkov opened #511 "When NS is without a handle the sidebar misbehaves"
When you create a NS without a handle, The sidebar details are not displayed (pages, modules, charts, you can see this more clearly in the vide below), and when you add a handle to the same NS, the sidebar is fully shown.

Also, once a handle is added if you erase the handle again and try to save the NS, you are receiving error saying `Could not save namespace application: field name is empty` (an

[2022-11-16 13:27] darh opened #512 "Unable to import a namespace without a handle"
Two issues here:
- when trying to import a namespace without it having a handle, I get ![Image](https://user-images.githubusercontent.com/85161724/202189038-1a83d827-495c-426b-971b-35fdc5196670.png)
- if I try to import a namespace with a handle => no issues with this part => the options to add a full and short name are presented (![Image](https://user-images.githubusercontent.com/85161724/2021902

[2022-11-16 14:02] petergrlica commented on #471
Added necessary changes @Bojan-Svirkov, please feel free to check again, the commit: https://github.com/cortezaproject/corteza/commit/fe6e13aa3309a6f0fa9d7c7c21498e7c4e6bbaaf

[2022-11-16 14:37] Bojan-Svirkov commented on #471
@petergrlica now everything works as expected. I am moving the card to **Done** and you can merge the changes. Thanks

[2022-11-16 14:54] darh opened #516 "Switch to go 1.19 for 2023.3.x"
- [x] deps
- [x] makefiles
- [x] GH workflows
- [x] local tests
- [x] GH workflow test

[2022-11-16 15:21] petergrlica opened #517 "Integration gateway response postfilter [PlanID: 2023.3/45/1.7]"
Currently there is only support for incoming requests to integration gateway, there needs to be support for response as well, especially coming from workflows.

There's an existing JSON postfilter that should be extended/replaced with the new `Response` postfilter.

It need to effectively:
 - fetch data either from context or from workflows expressions
 - feed expression into the configuration
 -

[2022-11-16 15:27] petergrlica opened #518 "Integration gateway filter list consistency"
Currently the filter list is inconsistent with the other Corteza entity lists, this should be fixed to match the global UX.

![Image](https://user-images.githubusercontent.com/4668490/202222316-bae45fc0-28d5-4802-81ab-475fb7dd1938.png)

[2022-11-16 15:29] petergrlica opened #519 "Integration gateway filter sorting"
The profile prefilter comes in handy when taking a closer look on the input of the requests into Corteza.
Sometimes you want to profile the routes after authentication, so it would be useful to be able to move profiler after any filters that should occur before (as opposed to removing all before).

Use the weight meta on filter in request:
[code]

[2022-11-16 15:30] petergrlica opened #520 "Implement purging of old profiler hits"
Currently the profiler requests coming into gateway are not purged in any way, so it can be a memory hog.
There should be a call to action on frontend (profiler page) for the purge.

**Frontend:**
- [ ] simple call to backend endpoint and list clear

**Backend:**
- [x] endpoint for profiler hits purging
- [ ] automatic profiler hits cleanup

[2022-11-16 15:31] katrinDY commented on #451
Changelog:

Added

what: Added support for page duplication. A page can be duplicated when in edit mode or when in the page builder view.

why: This easily allows users to copy/share content from one page to another.

[2022-11-16 15:32] petergrlica opened #521 "Add global integration gateway profiler setting"
Triggering of global/filter profiler should be in settings, not only as env variable

Checklist:

- [x] update service to read from settings
- [x] add settings to gateway page UI
- [ ] add a new batch of cypress tests with the global profiler ON

[2022-11-16 15:33] #451 closed, assigned to katrinDY

[2022-11-16 15:33] petergrlica opened #522 "Integration gateway UI cleanup [PlanID: 2023.3/45/1.7]"
## Route details

**Frontend**

- [x] add description field

**Backend**

- [x] add description field

## Route list

**Frontend**

- [x] [route list consistency](https://github.com/cortezaproject/corteza/issues/518)
- [x] [sort apigw filters](https://github.com/cortezaproject/corteza/issues/519)
- [x] lower-case the `Deleted routes` filter label

## Profiler

**Frontend**
- [x] add padding below

[2022-11-16 15:37] petergrlica commented on #486
Added https://github.com/cortezaproject/corteza/issues/522, https://github.com/cortezaproject/corteza/issues/517 as a result, closing

[2022-11-16 15:37] #486 closed, assigned to petergrlica

[2022-11-16 16:07] katrinDY commented on #494
branch name for:
- 23.3 2023.3.x-feature-improve-btn-consistency-in-privacy
- 22.9 2022.9.x-feature-improve-btn-consistency-in-privacy

[2022-11-16 17:45] darh commented on #474
I'm handling this one.

[2022-11-17 08:53] Bojan-Svirkov commented on #494
Just tested this and I can confirm that this is now looking good.

@katrinDY Can you just include the entry for the ChangeLog here on the ticket?

[2022-11-17 10:10] katrinDY commented on #494
@Bojan-Svirkov

Changelog:

Changed:

What: The color of the button for confirming the action to accept a privacy request was changed.

Why: This was done to match the same color pattern as the colors when confirming/denying the action to reject a privacy request. This also improves consistency and UX.

How: The color was changed to dark blue.

- 2022.9.x: [d4ed9ff](https://github.com/cortezaproje

[2022-11-17 10:22] Bojan-Svirkov commented on #494
Added to the CL.

[2022-11-17 10:23] #494 closed, assigned to katrinDY

[2022-11-17 12:12] tjerman opened #526 "Update page block reference example screenshots with images that follow the guidelines"
The guidelines are available [here](https://docs.cortezaproject.org/corteza-docs/2022.9/developer-guide/documentation/annotations.html)
The documentation that needs updating can be found [here](https://docs.cortezaproject.org/corteza-docs/2022.9/integrator-guide/compose-configuration/page-blocks.html)

[2022-11-17 12:12] #526 closed, assigned to nobody

[2022-11-17 12:30] darh opened #527 "Add support for helper env-variable that creates a user and logs you in"
When a user sets `AUTH_PROVISION_SUPER_USER`, Corteza creates one or more users with the configured values using provided email as a password. It skips existing (email, handle).  All new users are assigned to all bypass roles.

Value format:
[code]

Examples:
[code]

All actions (created, existing-skipped) must be logged as warnings.

If the command is used with `ENVIRONMENT=production` Corteza sh

[2022-11-17 12:32] darh opened #528 "Remove `github.com/pkg/errors` imports."
There is no benefit in using that package. Replace it with `fmt.Errorf` or our own `corteza/server/pkg/errors`.

[2022-11-17 12:35] darh opened #529 "Refactor packages under pkg/ and remove all component importing."
Many packages under `pkg/` still reference type packages from components.
This must be improved either by
 - moving the whole package from pkg into a component (federation)
 - moving package to the root (envoy, provision)
 - refactoring with generics or interfaces (Corredor, envoy?)

packages with component imports:
[code]

 - [ ] pkg/apigw
 - [ ] pkg/auth
 - [x] pkg/codegen
 - [ ] pkg/corredor
 -

[2022-11-17 12:37] darh opened #530 "Review, update or remove tools used by the server"
In `server/Makefile.inc`, we reference a list of tools varying from static code analysis to code
generators.

Review what we use and what is obsolete.

[2022-11-17 12:38] tjerman opened #531 "Update README.md to reflect the new monorepo setup"

[2022-11-17 12:38] darh opened #532 "Wrapper shell script builds a binary (if not already built) using last /server commit id"

[2022-11-17 15:39] katrinDY opened #537 "Add more options for user to configurate echarts"
# TODO:
## Pie and Doughnut charts:

### overlapping labels
- [x] custom formatting of labels
- [x] hide labels
- [x] show labels on chart partitions
- [x] show labels next  to chart partition
- [x] explore other options

### legend
- [x] show/hide
- [x] type of legend - plain, scroll
- [x] explore if top, right, bottom, left cane be set as numbers
- [x] explore other options

## Bar chart:

### l

[2022-11-18 09:55] #474 closed, assigned to darh

[2022-11-18 10:50] jitendraflowz03 opened #549 "How we can increase default token expiry"
Hi Team,

I'm using corteza auth for authentication and i want to increase default token expiry from 2 hrs to 10 hrs, I have added varies variables inside .env but it's not worked

i'm using below listed version

 @cortezaproject/corteza-ext-renderer": "^2020.12.x",
 @cortezaproject/corteza-js": "^2021.3.x",
 @cortezaproject/corteza-vue": "^2021.3.x",

[code]

[2022-11-18 11:32] Bojan-Svirkov commented on #466
Entry added to the CL

[2022-11-18 12:16] Bojan-Svirkov commented on #466
@EmmyMay the whole features looks good however I noticed one issue in regards to the record list page block and it's pagination. So the issue is this:

- When I have the auto refresh enabled let's say on 5s and I have record on more than one page, and I am on the second page and after the refresh I am taken on the first page, but the pagination in the footer still says for example 16-20 of 20 reco

[2022-11-18 12:46] EmmyMay commented on #466
Thanks @Bojan-Svirkov I'll look into it

[2022-11-18 13:52] Bojan-Svirkov opened #540 "Display field label instead of name in metric field selectors"
When you use metric page block and you need to configure the field, instead the field taking the field label of the record, it is taking the name which is wrong.

Note: This was discussed with Joze so if there are any questions you can reach out to him.

[2022-11-18 13:56] Yangruipis commented on #422
fixed

[2022-11-18 13:56] #422 closed, assigned to tjerman

[2022-11-18 14:57] Fajfa commented on #500
Fixed the auth screen on mobile views,
Fixed topbar not being fully visible on smaller screens (Avatar was disappearing)

[2022-11-18 15:46] Bojan-Svirkov commented on #500
Tested and confirming that this is looking good. Now the only thing left is the CL.

[2022-11-18 15:58] Fajfa commented on #500
### What was fixed
Only on mobile views:
Fixed login form covering up the topbar on auth screens.
Fixed not being able to click the avatar button in topbar on certain views

### How was it fixed
By adjusting the styling of the auth screens and the Corteza topbar

[2022-11-18 16:13] Bojan-Svirkov commented on #500
Added the entry to the CL.

[2022-11-19 17:21] Bojan-Svirkov commented on #451
@katrinDY I just have one more question: When a page is duplicated/copied, and you delete a record on the copied page, should that record be also deleted on the original/main page?

[2022-11-20 07:51] #501 closed, assigned to darh, Fajfa

[2022-11-21 11:14] katrinDY commented on #451
@Bojan-Svirkov, the same change shouldn't be applied to the original

[2022-11-21 11:30] Bojan-Svirkov opened #542 "Adding/deleting/editing a record on a duplicated page also reflected on the main page"
- When you create a copy of a page in compose and you add a record on the copied page, the record is also added on the main page. The same goes when you delete or edit a record, the changes are reflected on the copied and on the main page.

https://user-images.githubusercontent.com/53232926/203040092-46d912bb-0f26-4a4f-9e41-96893f3173ee.webm

[2022-11-21 11:39] tjerman commented on #456
@darh above, the issue is in the filter; you've defined the string like `"` but it should be like `'` (same as on Compose)

it should be like this (shell payload encoding!!!):

[code]

or better yet, like this:

[code]

[2022-11-21 12:07] tjerman commented on #456
Will leave this issue open until the front-end implementation is done

[2022-11-21 13:29] tjerman opened #543 "Report datasource describe incorrectly represents multi value columns"
The response of the `describe` endpoint doesn't set the `multivalue` or the `multivalueDelimiter` fields.

![Image](https://user-images.githubusercontent.com/12545711/203067390-368624d0-e97b-4193-87df-0885a30e66a2.png)

They should be set and respect the configs provided in module fields.

- [x] `multivalue`
- [ ] `multivalueDelimiter`

[2022-11-21 16:40] Fajfa commented on #464
This would be my proposed solution,

![Image](https://user-images.githubusercontent.com/15791641/203110819-b0f71e6a-44b6-4ab5-905d-0844c0d941c4.png)

[2022-11-22 08:33] tjerman opened #545 "Federation handshake fails due to invalid generated URL"
The generated URL seems to always point to local.cortezaproject.org; potentially a lapsus in the code.

- [x] Investigate to find out what's wrong
- [x] Review the [documentation](https://docs.cortezaproject.org/corteza-docs/2022.9/integrator-guide/federation/index.html) and update as needed
- [x] Post an update on the forum https://forum.cortezaproject.org/t/federation-node/1137/3

[2022-11-22 08:43] tjerman opened #546 "Revisit and improve the calendar feature set (WIP)"
A list of features mentioned/requested by the community

- [ ] Recurring events https://forum.cortezaproject.org/t/recurrence-for-events-in-calendar-block/1148/2

[2022-11-22 10:48] darh commented on #464
Much better.

Please sync with @katrinDY she is also working on some element repositioning, rotation and hiding features.

[2022-11-22 10:52] tjerman commented on #543
The multivalue flag was set with 8f5e71845a3fabd1a5b8044bbe9ba80a01238f4c the delimiter is still fixed and I'll be addressing it in a later sprint

[2022-11-22 10:55] darh commented on #464
This is `_Axis.nameLocation`, correct?

How about if we let the user decide between `center`, 'end', `start`, and an additional `hide` that hides the name?

[2022-11-22 11:15] Fajfa commented on #464
Correct, we can do that, i wouldn't do hide but instead if there is no value we can just not show it. Otherwise a dropdown for the position.

[2022-11-22 12:15] tjerman opened #548 "Compose module updates incorrectly reflected between front-end and back-end"
1. open up a module

![Image](https://user-images.githubusercontent.com/12545711/203311151-ec50885a-f577-46a3-99d3-15c80d2c82e5.png)

2. click on save (you don't need to edit anything)

![Image](https://user-images.githubusercontent.com/12545711/203311217-92d71d00-5d8d-40fb-a052-324c1beac6cc.png)

3. click on save again (you don't need to edit anything)

![Image](https://user-images.githubusercont

[2022-11-22 12:29] darh commented on #556
Resolved.

[2022-11-22 14:31] Bojan-Svirkov commented on #448
This works flawlessly. Good job @yonkov

[2022-11-22 14:39] Fajfa commented on #464
The Y Axis now has an option for the label position on both compose and reporter charts

[2022-11-22 14:48] Bojan-Svirkov commented on #448
Added entry to the CL. Moving the ticket to `Done`.

[2022-11-22 16:01] tjerman commented on #453
I have Corteza provisioning for the 2022, 2019, and 2017 versions.

I got stuck on some aggregation issue where the expression used in the group by isn't treated the same as the one in select when I use variables.

Need to get the code cleaned up and then I can push the first version

[2022-11-22 16:38] Bojan-Svirkov commented on #464
@Fajfa This looks good. When you have the time just add the entry for the CL. 🍻

[2022-11-22 17:22] Fajfa commented on #511
Since this has been fixed before release, no changelog is needed
https://github.com/cortezaproject/corteza/commit/65ea8f0087b17ca9cbbcaa654a0ac15c8a050e8a

[2022-11-22 17:35] Bojan-Svirkov commented on #511
Everything now works as expected and since no CL is needed I am moving the card to `Done`.

[2022-11-22 20:51] kelanik8 commented on #457
![Image](https://user-images.githubusercontent.com/23015247/203418775-e2d171c7-f2a6-4813-b77f-d57324c74689.png)

[2022-11-22 20:52] kelanik8 commented on #457
https://github.com/cortezaproject/corteza/pull/560

[2022-11-22 23:51] kelanik8 commented on #457
![Image](https://user-images.githubusercontent.com/23015247/203444096-30ed51f0-fb44-444c-a2cf-674b1f258a39.png)

[2022-11-23 10:48] darh opened #564 "code cleanup: console.log"
Unexpected console statement

 - [ ] client/web/one/src/app.js#L94
 - [ ] client/web/workflow/src/components/WorkflowEditor.vue#L771
 - [ ] client/web/admin/src/app.js#L146
 - [x] client/web/compose/src/components/Namespaces/Importer/index.vue#L97
 - [x] client/web/compose/src/components/Namespaces/Importer/index.vue#L101
 - [ ] client/web/compose/src/components/PageBlocks/CommentBase.vue#L243
 -

[2022-11-23 10:52] tjerman commented on #453
<deleted>

[2022-11-23 11:15] Fajfa commented on #464
What was added?

For charts with y-axis, a new label position option was added. It enables you to position the label at the bottom, middle or top of the y-axis.

How was added?

By using the nameLocation property of Apache Echarts y-axis, which enables this. A select dropdown was also added in the y-axis section in Compose and Reporter chart configurations.

ref: [18248a2](https://github.com/corte

[2022-11-23 11:19] #500 closed, assigned to Fajfa

[2022-11-23 11:21] kelanik8 commented on #457
Changelog

What changed
- New filter operators(IN/NOT IN) added to the prefilter in the reporter UI

Why did it change
- Users can now use IN/NOT IN operator in Reporter's filter

How did it change
- Updated the prefilter component with the two new operators
- Added the locale properties for the filter text
- Add the logic to configure switch value and fields input when a multi field value is sele

[2022-11-23 11:25] kelanik8 commented on #457
Steps to recreate:

- open reporter
- select a report
- toggle the report builder
- add a block with a table element
- under the prefilter section
- select a field the a multi value type
- and save the see the reflected changes

[2022-11-23 11:30] #511 closed, assigned to Fajfa

[2022-11-23 11:39] darh opened #565 "Re-examine build pipeline and fix npm package building"
I've commented on the problematic part. The last time it was executed, it complained about an invalid secret. Could be something connected with running it in a different repository (`/mono`) back then?

Also, we need to figure out how, when the package is built, we can ensure that it is used within the same workflow when running all `client-web-*` tasks. A possible workaround would be that we simp

[2022-11-23 12:20] Bojan-Svirkov commented on #464
Added to CL.

[2022-11-23 12:31] darh commented on #565
@Fajfa ⬆️

[2022-11-23 12:59] Bojan-Svirkov commented on #457
The functionality works as expected for now and I added the CL entry, will just leave the ticket in qc since it might be also possible the other issues to be fixed today in regards to the `in operator in joins/links` and multivalue fields displayed as one whole name.

[2022-11-23 14:35] darh opened #566 "Implement JSON-LD response format for API requests for Compose records."
When a request with a certain content-type header arrives, encode each record as a JSON-LD.

- [x] Add module configuration for JSON-LD response
- [x] Support content-type `application/ld+json`
- [x] Encode record response in JSON-LD

[2022-11-23 14:35] darh opened #567 "Implement JSON Schema structure importing and converting them into Compose modules."

[2022-11-23 14:53] #464 closed, assigned to Fajfa

[2022-11-23 14:54] #471 closed, assigned to petergrlica

[2022-11-23 15:15] Bojan-Svirkov commented on #468
There are still some issues on this. Waiting on Vivek to address them.

[2022-11-23 15:42] Bojan-Svirkov commented on #457
Tomaz addressed the other issues so I am moving the card to `Done`.

[2022-11-23 15:43] #457 closed, assigned to kelanik8

[2022-11-24 07:42] #456 closed, assigned to tjerman

[2022-11-24 07:46] tjerman opened #568 "Improve how multi-value fields are represented inside DAL pipelines"
Refs

- https://github.com/cortezaproject/corteza/commit/77cc790bf705d166468ef0e833419342bcc0b9c3
- https://github.com/cortezaproject/corteza/commit/3e1556104d6a355a0b787e08557b9b3f9e3d35dd

The current implementation relies that we'll be using _special_ functions when working with those fields which is OK for now but should be improved.

- [ ] Figure out how to let internal evaluators know what f

[2022-11-24 08:32] darh opened #569 "cortezaproject/* docker image cleanup"
There are a lot of outdated and temporary images floating on Docker hub. Collect what we have and draft retention policies.

[2022-11-24 13:06] tjerman commented on #453
Notes for setup/testing

`docker-compose.yml`

**IMPORTANT** The port incrementation doesn't exactly match the mssql version incrementation -- why? Yes.

[code]

`.env`

[code]

To interact with the mssql container

[code]

[2022-11-24 16:35] EmmyMay commented on #466
https://github.com/cortezaproject/corteza/pull/513

@Bojan-Svirkov This should be fixed now. Waiting for @Fajfa to review. Thanks.

[2022-11-24 17:15] darh commented on #496
@skamensky interested in implementing this?
At least core functionality + CLI for now.

How I see this is that you specify a target module and set of instructions for the reconfiguration of one or more columns and migration of the data in those columns.

[2022-11-24 19:01] skamensky commented on #496
@darh ,

I personally wouldn't need this since I'd only ever use physical tables/columns and don't have legacy migrations to have to worry about. I am interested in contributing to Corteza where needed, even if it's not for something I use. However, currently I don't have the bandwidth.

If you'd ever have to deprecate support for physical columns/tables due to lack of resources, I'd jump in to pr

[2022-11-25 10:42] darh commented on #527
@KinyaElGrande reach out before you start, we can chat on the implementation details.

[2022-11-25 10:48] darh commented on #508
This was partially covered in #537. Will address the rest later.

[2022-11-25 10:53] darh commented on #510
This could be a bit misleading if we do not have "select all on all pages".

This is a separate functionality. Deprioritizing this for now.

[2022-11-25 12:25] Bojan-Svirkov opened #571 "Alignment of chart customize filter"
The `customize filter` needs to be aligned a bit since now it is really close to the box above, so it needs to be centered abit (shifted abit down) to match the other checkboxes below which are fine.

![Image](https://user-images.githubusercontent.com/53232926/203985296-4c05b0ef-781d-470e-99c1-6e6a9b17aec9.png)

[2022-11-25 12:26] Bojan-Svirkov commented on #537
Tested and confirming that everything is spot on. @katrinDY the only thing now left is the `changelog` part.

[2022-11-25 12:39] katrinDY commented on #537
@Bojan-Svirkov

CL

Added

what: Extended configuration for pie, bar, line and doughnut charts. Three new sections were added - tooltip, legend and offset as well as the options to rotate x and y axis labels (only for bar and line charts).

why: To give the users more freedom to customize charts.

refs:
- https://github.com/cortezaproject/corteza/commit/a8d3b831db94538f6cfd84bd86fe35ec555b1bc7
- h

[2022-11-25 13:05] Bojan-Svirkov commented on #537
Added CL entry. @katrinDY If everything is merged (and I think it is) feel free to close the issue.

[2022-11-25 13:39] Bojan-Svirkov opened #573 "Record list header bar configuration"
It would be beneficial if we have an ability to change the color of our tables and header bar like something similarly we have in reporter.

Something like this:

![image](https://user-images.githubusercontent.com/53232926/209962257-b46f14a8-9784-4be0-85a6-60d39bd7ef5f.png)

![image](https://user-images.githubusercontent.com/53232926/209962286-09f79a0a-0e30-4c9e-a559-2107d6cad55b.png)

[2022-11-25 13:58] Bojan-Svirkov opened #574 "Reporter tables pagination issue"
1. When I add a limit to a reporter table, the next page is not usable and you cannot go to the second page, same goes for the compose report table. (You can see this from the video in more details)

2. When I try to remove the limit, either erase it or just write `0` I am receiving the error `Failed to run report: json. cannot unmarshal string into Go struct field Paging.Frames.paging.limit of ty

[2022-11-25 14:06] #537 closed, assigned to katrinDY

[2022-11-25 14:37] katrinDY opened #575 "Issue when saving a newly added display element"
### Link to report - https://20229-qc.cortezaproject.org/reporter/304208470234632194/builder

### Gif of the issue:
![Image](https://user-images.githubusercontent.com/85161724/204006500-086b0db2-0214-46de-b448-298e384c1cc8.gif)

[2022-11-25 14:37] darh commented on #496
Ok, Looks like a slight misunderstanding here.

First - there are no plans to deprecate this. This is something we want to support.
Your recent patch will only make it more usable.

I've updated the issue description with a scenario. Hope it will make more sense then.

[2022-11-25 14:50] Bojan-Svirkov commented on #466
@EmmyMay This now looks good. I am moving the card to **Done** and once you merge everything you can safely close this issue.

[2022-11-25 16:23] yonkov commented on #450
Pull request at: https://github.com/cortezaproject/corteza/pull/576

[2022-11-27 08:14] skamensky commented on #496
@darh ,

I think I understood, though the added detail does help me understand the implementation strategy.
Still, as I don't have a vested interest in this (I have no JSON value columns - everything is physical), I'm not going to have time to work on it for now.

[2022-11-27 08:29] #516 closed, assigned to darh

[2022-11-27 08:55] #495 closed, assigned to darh

[2022-11-27 09:58] #528 closed, assigned to darh

[2022-11-27 11:28] skamensky commented on #556
What was done to resolve this?

I'm still undergoing this problem and need to change add that environment variable as a workaround.

[2022-11-28 06:15] darh commented on #556
🤷‍♂️  Was under the impression that that did the trick for you.

Leaving it open then, maybe someone else can take a look into it.

[2022-11-28 08:17] tjerman commented on #512
I can take a crack at this one

[2022-11-28 09:31] darh commented on #463
Moving this to 2023.3.x

[2022-11-28 10:41] KinyaElGrande commented on #497
**What was added**
`Test SMTP server` button

**Why was it added**
When the button is clicked, it tests SMTP configuration settings and sends a test email to  the `sender address `.

If the SMTP configuration settings is **OK** a success toast message  `SMTP configuration check passed` is displayed.
<img width="1064" alt="Screenshot 2022-11-28 at 12 26 53" src="https://user-images.githubuserconten

[2022-11-28 10:43] #470 closed, assigned to KinyaElGrande

[2022-11-28 10:49] #466 closed, assigned to EmmyMay

[2022-11-28 15:07] Bojan-Svirkov commented on #497
Configuration checker is getting stuck on `Pending`. Same thing also happening for Mumbi so moving back this to In progress.

[2022-11-29 11:12] Bojan-Svirkov opened #578 "Compose record filter improvements"
#### - Currently all the operators are shown in compose filters for example for a single value text type field. So let's try to hide the operators if they are not supported. For example the `Contains` and `Not contains`, if a field is a single value one, let's hide the operators and just shown them if a field is a multi value one.

- [x] Hide the `Greater than` & `Less than` for not supported fiel

[2022-11-29 12:19] tjerman opened #579 "Make sure compose record report data is provided in order"
Previous versions (2022.3 here) ordered the output using the dimensions (https://github.com/cortezaproject/corteza/blob/2022.3.x/server/store/rdbms/compose_record_report_builder.go#L210); now, we don't do that.

Add sorting to the DAL pipeline builder [here](https://github.com/cortezaproject/corteza/blob/299ffd36181a8ce4759aa67800811f5844121b6f/server/compose/service/record.go#L1778)

[2022-11-29 13:45] darh opened #580 "Auth pages (authorized clients) do not show empty-list text properly"
Empty list:

![Screenshot 2022-11-29 at 14 42 29](https://user-images.githubusercontent.com/1500447/204544753-eeecc9f7-6d74-4d08-9f7e-decd870cfa71.png)

List of auth clients

![Screenshot 2022-11-29 at 14 42 10](https://user-images.githubusercontent.com/1500447/204544756-65b5532e-27e9-483c-acfe-d67d6317d66b.png)

See the "no authorized clients found". That text should show on the empty list but no

[2022-11-29 14:53] petergrlica commented on #569
Purged necessary repos

[2022-11-29 14:53] #569 closed, assigned to petergrlica

[2022-11-29 15:35] EmmyMay commented on #447
https://github.com/cortezaproject/corteza/pull/514 for issue https://github.com/cortezaproject/corteza/issues/447

[2022-11-29 15:42] EmmyMay commented on #447
Changelog Documentation

### What was added?
The ability to copy, clone, and paste page blocks in page builders.

### Why was it added?
To make it possible to duplicate page blocks easily.

### What changed?
The toolbox for page blocks now has more icons.

### Why did it change?
These icons make it so that these new features are easily accessible.

### How did it change?
You'll find that there are

[2022-11-30 10:05] EmmyMay commented on #540
https://github.com/cortezaproject/corteza/pull/586

[2022-11-30 11:11] Bojan-Svirkov commented on #468
When you sort by last change, the view is kinda broken, meaning always the same results are shown even if you press next page. The total record count is also surpassing the total records we have if we continuously press next. @vicpatel please check this.

https://user-images.githubusercontent.com/53232926/204781639-74e6be1e-360a-497e-92b6-6eec581af252.webm

[2022-11-30 12:11] Bojan-Svirkov commented on #447
I went through this and the feature is working nicely I just have one note in regards to the ability for resizing the block. So @EmmyMay please look into this since when the block is resized into it's smaller form after that you cannot resize it since the button for resizing is covered by the other modal which is above it. Please look into the video:

![image](https://user-images.githubusercontent

[2022-11-30 12:13] EmmyMay commented on #447
Nice catch @Bojan-Svirkov. I'll look into it

[2022-11-30 12:27] Bojan-Svirkov commented on #468
@vicpatel Now everything looks good and the only part left is the Changelog entry. Please include it. Thanks.

[2022-11-30 13:29] tjerman commented on #453
I'm currently figuring out how I should handle paging cursors to adjust them for MSSQL needs

[2022-11-30 14:05] EmmyMay commented on #447
Per the issue raised by @Bojan-Svirkov, there is no less hacky way as far as I investigated to fix that except to tweak the toolbox for the general view.

@Fajfa

[2022-11-30 14:09] Fajfa commented on #468
What was fixed:
- The namespace, module, page, workflow, and reporter lists now properly sort the last change column.
Previously the sorting was done on the updatedAt value and the value was shown as updatedAt or createdAt if the resource wasn't updated yet.

How was it fixed:
- The webbapps can now use the `coalesce(deletedAt, updatedAt, createdAt)` to sort based on all three columns, so that the

[2022-11-30 14:59] tjerman commented on #579
2022.9.x

https://github.com/cortezaproject/corteza/commit/956e30e2b21649749a98273c3a5ccf32cb80da92

[2022-11-30 15:01] tjerman commented on #579
[code]

[2022-11-30 15:02] tjerman commented on #579
Moved to current sprint because trivial and fairly important

[2022-11-30 15:23] darh commented on #447
Maybe a few pixels less on padding/margin will help - in general, not only on the narrow version?

[2022-11-30 16:16] katrinDY commented on #571
### End result:

![Image](https://user-images.githubusercontent.com/85161724/204850748-397b926d-b4fa-4a69-89ec-30cd0f433ffc.png)

[2022-11-30 16:25] EmmyMay commented on #447
Joze suggested something different that I think is even better. Will push once I get it working.